/* Layout
================================ */

body {
	padding-top: 50px;
}
.container {
	max-width: 1000px;
}

/* Jumbotron
================================ */

.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

/* Glyphicons
================================ */

.glyphicon {
	font-size:2em;
display: inline;
	color: rgba(58,135,173,1);
}

/* Carousel
================================ */
.carousel-indicators{
	bottom: 0;
}
.carousel-indicators .active{
	background-color: white;
}
.carousel-indicators li{
	border-color: white;
}
#myCarousel{
	background: url("../img/slide1.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	padding-bottom: 250px;
	background-attachment: fixed;
	background-position: -20px -400px;
	opacity: 50%;
	color: white;
	letter-spacing: 2px;
	font-family: monospace;
 }
#myCarousel1{
	background: url("../img/slide3.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	padding-bottom: 300px;
	background-attachment: fixed;
	background-position: -20px -400px;
	color: white;
}

div.item h1,div.item p{
	width: 80%;
	text-align: left;
}
div.item p{

font-size: 3rem;
}
.carousel-inner h1,p{
	/*color: white;*/
}
/*.slideshow{
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: -1;
}*/

img.websitepic{
	width: 80%;
	height: 120px;
	display: block;
	margin: 0 auto;
}
.socialicon{
	display: block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
.social{
	background-color: #3ccbea;;
}
.pagedivider{
	color: white;
	border-color: #3ccbea;
	border-style: inset;
	background-color: #3ccbea;
	text-align: center;
}
/*About page*/
#myCarousel2{
	background:url("../img/photo0.jpg");
	background-size: cover;
	width: 100%;
	color: white;
	opacity: 0.8;


}
#myCarousel2 h3, #myCarousel2 p{
	padding: 20px 60px;
	width: 60%;
}
.headlinebtn{
	background-color: #3ccbea;
}
.details{
	width: 50%;
	display: block;
margin: 0 auto;

}
/*.middlepic{
	background: url("../img/photo2.jpg");
	background-size: cover;;
	background-repeat: no-repeat;
	color: white;
	padding: 10%;
 opacity: 0.5;
}*/


/*.middlepic h3,.middlepic p{
	font-family: fantasy;

	font-size:36px;
width: 90%;
}*/

.my-container {
    position: relative;
    overflow: hidden;
}
.my-container h1{
	padding: 20px 40px;
    position: relative;
    z-index: 2;
		color: white;
		font-family: fantasy;
		letter-spacing: 1px;
		line-height: 70px;

}
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.7;
}
.glyphicon-chevron-down
{
	color: white;
}
.experience img{
	width: 100%;

}
