/* Layout
================================ */

body {
	padding-top: 50px;
}
.container {
	max-width: 1000px;
}

/* Jumbotron
================================ */

.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

/* Glyphicons
================================ */

.glyphicon {
	font-size: 3em;
	display: block;
	text-align: center;
	color: rgba(58,135,173,1);
}

/* Carousel
================================ */
.carousel-indicators{
	bottom: 0;
}
.carousel-indicators .active{
	background-color: white;
}
.carousel-indicators li{
	border-color: white;
}
#myCarousel{
	background: url("../img/slide1.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	padding-bottom: 250px;
	background-attachment: fixed;
	background-position: -20px -400px;

}

.carousel-inner h1,p{
	color: white;
}
/*.slideshow{
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: -1;
}*/

.websitepic{
	width: 80%;
	height: 120px;
}
.socialicon{
	display: block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
